.errorWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  //border: 2px solid red;
  margin-top: 4rem; // or 5rem, as you prefer
  gap: 1rem; // adding gap between the child elements
  text-align: center; // this will center align the text inside each child element
}

